<div class="products-container">

    <div class="categories"> 

    </div>

    <div class="products">
        <div>
            <div class="img-product">
                <img style="width:100%; height: 100%;"src="../../../assets/img/product1.jpg" alt="">
            </div>
            <div class="description">
                <p>Tarjeta Regalo de Amazon.es en un estuche</p>
                <h3 class="current_price">79,82€</h3>
                <h5 class="price_before">100,12€</h5> 
                <button class="btn-view"> Add to Cart</button>
            </div> 
        </div>
        <div>
            <div class="img-product">
                <img style="width:100%; height: 100%;"src="../../../assets/img/product2.webp" alt="">
            </div>
            <div class="description">
                <p>BENYAR Relojes Hombre Relojes de Pulsera Cronografo </p>
                <h3 class="current_price">34,99€</h3>
                <h5 class="price_before">40,89€</h5> 
                <button class="btn-view"> Add to Cart</button>
            </div> 
        </div>
        <div>
            <div class="img-product">
                <img style="width:100%; height: 100%;"src="../../../assets/img/silla.webp" alt="">
            </div>
            <div class="description">
                <p>T-LoVendo TY-H03-BLACK Silla de Oficina con Soporte Lumbar, Negro</p>
                <h3 class="current_price">29,9€</h3>
                <h5 class="price_before">89,2€</h5> 
                <button class="btn-view"> Add to Cart</button>
            </div> 
        </div>
        <div>
            <div class="img-product">
                <img style="width:100%; height: 100%;"src="../../../assets/img/regalo.webp" alt="">
            </div>
            <div class="description">
                <p>Lampara Libro Plegable de Madera con Mando</p>
                <h3 class="current_price">15,8€ </h3>
                <h5 class="price_before">20,5€</h5> 
                <button class="btn-view"> Add to Cart</button>
            </div> 
        </div>
    </div>

</div>
