<div class="container">
    <div #csliders class="container-sliders">
        <section #sliderLists class="contain-slider">
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in urna luctus, mollis velit a, consectetur magna. </h2>
                <a href="#">Contat us</a>
            </div>
            <img src="../../../assets/img/searchproduct.svg" alt="slider one">
        </section>
        <section #sliderLists class="contain-slider">
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in urna luctus, mollis velit a, consectetur magna. </h2>
                <a href="#">Contat us</a>
            </div>
            <img src="../../../assets/img/webshopping.svg" alt="slider two">
        </section>
        <section #sliderLists class="contain-slider">
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in urna luctus, mollis velit a, consectetur magna. </h2>
                <a href="#">Contat us</a>
            </div>
            <img src="../../../assets/img/searchproduct.svg" alt="slider one">
        </section>
    </div>
</div>

